@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');
@import 'navBar-header.css';

body {
    background-color: #F8F8F8;
    font-family: Lato;
    margin: 0;
    padding: 0;
}

#background {
    width: 100%;
    height: 400px;
    background-image: url(https://prenota-drive.regione.lazio.it/images/background/main-background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

.bckgrPic {
    width: 100%;
    height: 406px;
    position: absolute;
    top: 120px;
    z-index: -1;
}

#content {
    height: 100%;
    /*position: absolute;
    bottom: 0%;
    top: 120px;*/
    margin: auto;
    width: 900px;
    /*border: 1px solid black;*/
}

#content .titles {
    color: white;
    padding-top: 27px;
}

#content .titles h1 {
    font-size: 40pt;
    font-weight: 600;
}

#content .titles h3 {
    font-size: 20pt;
    margin-top: 16px;
    margin-bottom: 26px;
    font-weight: 500;
}

#content > .divisor {
    width: 100%;
    clear: both;
}

#content > .residents, #content > .disdetta, #content > .list {
    border-radius: 1px;
    padding: 20px 10px;
}

#content .bookDivs {
    background-color: white;
    width: calc(35% - 30px);
    height: 250px;
    float: left;
    border-radius: 5px;
    padding: 15px 10px;
    box-shadow: 3px 0px 10px 0px #a5a39b;}

#content .bookDivs:nth-child(2) {
    margin-left: 22px;
    margin-right: 22px;
}

#content .bookDivs .icon {
    width: 50px;
    height: 50px;
    float: left;
}

#content .bookDivs .bookH3 {
    float: left;
    font-weight: 900;
    font-size: 18pt;
    margin-bottom: 8px;
}

#content .bookDivs .bPar {
    clear: both;
    font-size: 12pt;
    margin-top: 5px;
}

#content .bookDivs .goButt {
    background-color: white;
    color: #5DB3B0;
    border-style: none;
    font-weight: 600;
    position: relative;
    top: 16px;
    left: 2px;
}

.sections {
    clear: both;
    color: #5DB3B0;
    font-weight: 700;
    margin-top: 21px;
}

/*#sezioni {
    margin-top: 21px;
    border-radius: 5px;
}*/

.residents {
    background-color: white;
}

#content > .list {
    margin-bottom: 95px;
    padding: 13px;
    background-color: white;
}

.linkList {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;

}

.linkList > li {
    padding-left: 12px;
}

.linkList > li::before {
    content: "•";
    padding-right: 11px;
    color: #5DB3B0;
    font-size: 18pt;
}

a {
    color: #5DB3B0;
}

#content .disdetta {
    padding: 13px;
}

#content .list .aslList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#content .list .aslList .aslNum {
    font-weight: 500;
    font-size: 13pt;
    margin-top: -18px;
}

#content .list .aslList .aslNum::before {
    content: "•";
    padding-right: 18px;
    color: #5DB3B0;
    font-size: 21pt;
}

#content .list .aslList .aslNum .addresses {
    font-weight: normal;
    font-size: 12pt;
    margin-left: 18px;
}