body {
    background-color: rgb(162, 201, 202);
    color: white;
}

nav {
    background-color: whitesmoke;
    width: 100%;
    height: 60px;
}

nav > ul > li > a:link, nav > ul > li > a:hover nav > ul > li > a:visited {
    text-decoration: none;
    color: white;
}

nav > ul > li {
    list-style: none;
    float: left;
    margin-right: 25px;
    padding: 1% 0 1%;
}

nav > ul > li > a {
    color: tomato;
    padding: 2% 0 2%;
}