/*
* Header & nav bar
*/
#header, #navBar {
    width: 100%;
    height: 60px;
    position: relative;
}

#header .logo {
    float: left;
    height: 100%;    
    margin-left: 10px;
    padding: 7px;
    margin-right: 9px;
}

#header .bookButt {
    float: left;
    padding-left: 13pt;
    color: #5DB3B0;
    margin-top: 10px;
    float: left;
    background-color: #F8F8F8;
    border-style: none;
    border-left: 1px solid gray;
    font-size: 22pt;
}

#navBar {
    background-color: #5DB3B0;
}

#navBar > button {
    float: left;
    padding: 17px;
    background-color: #5DB3B0;
    color: white;
    border-style: none;
    margin-left: 22px;
    margin-right: -4px;
    font-size: 11pt;
    font-weight: 600;
    height: 60px;
}

#navBar > button:last-of-type {
    float: right;
    margin-right: 22px;
}

@media screen and (max-width: 1080px) {
    #navBar {
        position: relative;
    }

    #navBar > .navButton {
        display: none;
    }

    #navBar > div > div > a:link, #navBar > div > div > a:hover, #navBar > div > div > a:visited {
        color: #F8F8F8;
        text-decoration: none;
    }

    .hamburger-menu {
        float: left;
        font-size: 42px;
        margin: 12px 24px;
        color: #F8F8F8;
        cursor: pointer;
    }

    .link {
        margin: 5px 0;
    }

    .menu-mobile {
        position: absolute;
        top: 65%;
        left: 0;
        padding: 15px 25px;
        background-color: #5DB3B0;
        color: #F8F8F8;
        display: none;
    }

    /*
    * NON funziona:
    */
    .menu-mobile.show {
        display: block;
    }
}

/*
* Funzionano: 
*/
@media screen and (min-width: 1080px) {
    .hamburger-menu {
        display: none;
    }

    .menu-mobile {
        display: none;
    }
}