@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:wght@100;300;400;500&display=swap');

body {
    background-color: #141414;
    font-size: 100%;
}

body * {
    font-family: Roboto;
}

header {
    background: rgb(6,6,6);
    background: linear-gradient(180deg, rgba(6,6,6,0.7) 0%, rgba(20,20,20,0) 100%);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header > .logo > a > .logoIcon {
    margin-left: 2.7%;
    width: 133px;
}

#choices {
    width: 65%;
    margin: auto;
}

#choices > div > .watching {
    color: white;
    width: 100%;
    font-size: 3.9vw;
    text-align: center;
}

#choices > .accounts {
    width: 100%;
}

#choices > .accounts > .account {
    float: left;
    margin-right: 3%;
    width: calc(24.5% - 9%);
}

#choices > .accounts > .account> a > div > .icons {
    width: 100%;
    border-radius: 5px;
}

#choices > .accounts > .account> a > div > .icons:hover {
    border: 2px inset #F2F2F2;
}

a:link {
    text-decoration: none;
}


.icon-plus:before {
    content: "\e900";
    color: gray;
    font-size: 5.2vw;
}

.icon-plus {
    text-align: center;
}

.icon-plus:before:hover {
    color: #F2F2F2;
}

.icon-plus-div {
    /*width: 100%;
    margin: auto;*/
    border: 1px solid white;
}

#choices > .accounts > .account > a > div > .name {
    /*margin: auto;
    clear: both;*/
    margin-top: 8%;
}

#choices > .accounts > .account > a > div > .name:hover {
    color: #F2F2F2;
}

#choices > .accounts > .account > a > div > .name, #choices > div > .manage {
    color: gray;
    font-size: 1.39vw;
    text-align: center;
}

#choices > .spaceDiv {
    clear: both;
    width: 100%;
}

#choices > .manageDiv {
    margin: auto;
}

#choices > div > .manage {
    height: 29px;
    width: 25%;
    border: 1px solid gray;
    background-color: #141414;
    margin-top: 7%;
}

#choices > div > .manage:hover {
    color: #F2F2F2;
    border-color: #F2F2F2;
}