@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jqr5lo');
  src:  url('fonts/icomoon.eot?jqr5lo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jqr5lo') format('truetype'),
    url('fonts/icomoon.woff?jqr5lo') format('woff'),
    url('fonts/icomoon.svg?jqr5lo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\ea0a";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
