@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
/*
Se voglio modificare una cosa di bootstrap, posso scriverlo qui,
ed essendo cascading la mia regola sarà l'ultima
*/
/*
p {

}
*/
/* id: 17.12 REC II 9'
*/

/*27.12*/

.menu {
    height: 80%;
    width: 25%;
    background-color: rgba(2, 104, 13, 0.8);
    float: left;
    padding: 12px;
}

.content {
    max-height: 600pt;
    width: 75%;
    background-color: rgba(86, 143, 96, 0.8);
    float: left;
    padding: 15px;
    overflow: auto;
}

.quote {
    background-color: #c2c7bb;
    border-radius: 3pt;
}

h3 {
    margin-top: 5px;
    margin-left: 5px;
}

.quoteP {
    padding: 15%;
}

.footer {
    clear: both;
    width: 100%;
    min-height: 100px;
    background-color: rgba(2, 104, 13, 0.8);
    position: absolute;
    bottom: 0%;
}

.footerdiv {    
    border-right: 1px solid white;
    font-size: 18px;
    width: 25%;
    height: 100%;
    float: left;
    padding-left: 10pt;
}

img {
    width: 70%;
    height: 70%;
}

button {
    background-color: rgba(18, 109, 34, 0.96);
    border-radius: 5pt;
    border: rgba(18, 109, 34, 0.96);
    width: 80px;
    height: 40px;
    font-size: 17px;
}

a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    color: rgba(1, 55, 10, 0.96);
}