#header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0%;
    clear: both;
}

#header > img {
    width: 50pt;
    height: 50pt;
    border-radius: 50%;
    float: left;
    position: relative;
}

#header > .welcome {
    position: relative;
    font-weight: 600;
}

#menu {
    width: 25%;
    float: left;
    border: 1px solid lightblue;
    border-radius: 3pt;
    position: absolute;
    top: 100px;
    bottom: 100px;
}

#content {
    width: 75%;
    float: right;
    background-color: lightblue;
    border-radius: 3pt;
    position: absolute;
    top: 100px;
    right: 0%;
    bottom: 100px;
}

#content > .fourDivs {
    clear: both;
}

#content > .fourDivs > .div25 {
    float: left;
    width: calc(25% - 30px);
    border-radius: 3pt;
    background-color: whitesmoke;
    padding: 5pt;
    margin: 15px;
}

#content > .twoDivs {
    clear: both;
    float: left;
}

#content > .twoDivs > .half {
    width: 50%;
    float: left;
    padding: 2%;
    float: left;
}

#content > .twoDivs > .half > img {
    width: 100%;
}

#footer {
    clear: both;
    position: absolute;
    bottom: 0%;
    height: 100px;
    width: 100%;
    background: linear-gradient(rgba(61, 159, 226, 0.96) 0%, rgba(4, 49, 140, 0.96) 100%);;
}

#footer > .footerdiv {
    border-right: 1px solid blue;
    float: left;
    padding-left: 10pt;
    width: 120pt;
    padding-top: 3pt;
}

#footer > .footerdiv:last-of-type {
    border: none;
}