/*table, th, td {
    border: 1px solid cyan;
}*/

.tableT, table > #delTable {
    background-color: #97E1DC;
    width: 100%;
    height: 300px;
    text-align: left;
    color: #25296E;
}

/*Perché non mi viene il bordo così??*/
th, td {
    border: 1px solid violet;
}

.tdboh, .tdWidth, .specialB {
    border: 2px solid #52ACAC;
}

.tableT > #delTable > tr > td:hover {
    background-color: #99FF99;
    font-weight: 700;
} 

td > .tdWidth {
   /* min-width: 100px;*/
    max-width: 50px;
    background-color: blue;
}

.specialB {
    text-align: right;
}

button {
    background-color: #99CCCC;
    color: #25296E;
}

button:hover {
    background-color: #99FFFF;
}