#container {
    display: flex;
    color: whitesmoke;
    height: 100vh;
}

#container > .chatList {
    background-color: #131C21;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#container > .chatList > .search {
    align-items: baseline;
    align-content: center;
    display: flex;
    justify-content: center;
}

#container > .chatList > .search > .searchBar {
    border-radius: 20px;
    background-color: gray;
    padding-inline: 20px;
    width: 295px;
}

#container > .chatList > .search > .searchBar::placeholder {
    color: whitesmoke;
}

#container > .chatList > .chats {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    list-style: none;
    margin: 7px;
}

#container > .chatList > .chats > .chat {
    display: flex;
    margin-top: 15px;
}

#container > .chatList > .chats > .chat > .icon {
    
}

#container > .chatList > .chats > .chat > .icon > .pic {
    border-radius: 50%;
    height: 55px;
    width: 55px;
}

#container > .chatList > .chats > .chat > .info {
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    margin-left: 15px;
    padding-right: 15px;
}

#container > .chatList > .chats > .chat > .info > .firstRow {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

#container > .chatList > .chats > .chat > .info > .firstRow > .name {
    font-size: 16px;
}

#container > .chatList > .chats > .chat > .info > .firstRow > .time {
    font-size: 12px;
}

#container > .chatList > .chats > .chat > .info > .conversation {
    font-size: 14px;
}

#container > .bigChat {
    background-color: darkgreen;
    flex-grow: 2.95;
    background-image: url(https://i.imgur.com/TnNwdvV.png);
}